name: Docker Images CI

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build images (ubuntu-latest)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - alpine-user-ruby
          - archlinux-user-ruby
          - debian-user-ruby
          - ubuntu-user-ruby
      fail-fast: false
    steps:
      - name: Git Clone
        uses: actions/checkout@v5

      - name: Build ${{ matrix.image }} image
        run: |
          cd ${{ matrix.image }}
          docker build -t ${{ matrix.image }} .

      - name: Test ${{ matrix.image }} image
        run: |
          docker run --rm ${{ matrix.image }} echo "Hello, World!"
          docker run --rm ${{ matrix.image }} uname -a
          docker run --rm ${{ matrix.image }} date +%s
          docker run --rm ${{ matrix.image }} ls -l /
          docker run --rm ${{ matrix.image }} whoami
          docker run --rm ${{ matrix.image }} pwd
